<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vanguard.jarvis.listener</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>__JARVIS_SCRIPT_DIR__/listener.py</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__JARVIS_HOME__/.jarvis/launchd-listener.out.log</string>
  <key>StandardErrorPath</key>
  <string>__JARVIS_HOME__/.jarvis/launchd-listener.err.log</string>
</dict>
</plist>
